@font-face {
    font-family:'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Black.ttf");
    font-style:normal;
    font-weight:900;
}
@font-face {
    font-family:'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
    font-style:normal;
    font-weight:300;
}

* {
    font-family: 'Roboto';
    font-weight:400;
    margin:0;
    padding:0;
}

p {
    margin-bottom:10px;
}

a {
    text-decoration:none;
}

a.button {
    border-radius:5px;
    padding:8px 35px;
    background-color:#3882F6;
    color:white;
    display:inline-block;
    font-weight:900;
}

main section {
    background-color:white;
}

main section, header, footer {
    padding:80px 25%;
}

main section.hero,
header,
footer {
    background-color:#1F2937;
    color:#E5E7EB;
    font-size:18px;
}

main section.hero {
    display:flex;
}

main section.hero .title {
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
}

main section.hero div {
    padding:0 15px;
}

main section.hero div.image-content img {
    max-width:100%;
    height:auto;
}

main section.information {
    background-color:white;
    padding-left:30%;
    padding-right:30%;
}

main section.information .title {
    font-size:36px;
    font-weight:900;
    color:#1F2937;
    text-align: center;
}

main section.information .illustrations {
    margin:50px 0;
}

main section.information .illustrations img {
    max-width:100%;
    height:auto;
    border-radius:15px;
    border:4px solid #3882F6;
    margin-bottom:6px
}

main section.information .illustrations ul {
    display:flex;
    list-style-type:none;
    margin:0 -15px;
}

main section.information .illustrations ul li {
    padding:0 15px;
}

main section.quotation {
    background-color:#E5E7EB;
    padding:100px 30%;
}

main section.quotation .quote {
    font-size:36px;
    color:#1F2937;
    font-weight:300;
    font-style:italic;
}

main section.quotation .sign {
    text-align:right;
    font-weight:900;
    font-size:20px;
}

main section.call-to-action .call-to-action__block {
    background-color:#3882F6;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px;
}

main section.call-to-action .call-to-action__block .text-content {
    color:white;
}

main section.call-to-action .call-to-action__block .text-content .title {
    font-size:20px;
    font-weight:900;
}

main section.call-to-action .call-to-action__block .button-content .button {
    border:2px solid white;
}

header {
    display:flex;
    padding:15px 25%;
    justify-content:space-between;
    align-items:center;
}

header div {
    padding:0 15px;
}

header .logo {
    font-size:24px;
    color:#F9FAF8;
}

header div.right-block a {
    color:#E5E7EB;
}

header div.right-block ul {
    list-style-type:none;
    display:flex;
}

header div.right-block ul li {
    padding:0 10px;
}

footer {
    padding:35px 15px;
}

footer .copyright p {
    text-align:center;
}